.check {
    display: block;
    margin-left: 10px;
  }

  .check-input:checked {
    background-color: #007bff;
    border-color: #007bff;
  }

  .check-input:checked::before {
    background-color: #fff;
    border: 1px solid #007bff;
  }

  .check-input :disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }